.app {
  padding: 60px;
  height:950px;
  font-family: 'Luckiest Guy', cursive;
  background: rgb(63,251,97);
background: linear-gradient(90deg, rgba(20,223,231,1), rgba(63,251,97,1), rgb(20, 152, 175)  100%);
background-size: 600% 100%;
animation: gradient 10s linear infinite;
animation-direction: alternate;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}


.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  font-family: 'Luckiest Guy';
}

.container{
  color: white;
  font-family: 'Luckiest Guy';
}

.cards{
  color: black;
  padding: 80px;
  font-family: 'Luckiest Guy';
}

